<div class="dropdown-container"  >
  <div class="dropdown">
    <div class="selected-option" (click)="toggleDropdown()">
      <span [ngClass]="{'select-placeholder': !selectedOption}">{{ selectedOption ? selectedOption.label : placeholder }}</span>
      <i class="fas fa-chevron-down"></i>
    </div>
    <ul class="options" [class.open]="dropdownOpen">
      <li *ngFor="let option of options" (click)="selectOption(option)">
        <span>{{ option.label }}</span>
      </li>
    </ul>
  </div>
</div>
