.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: relative;
  width: 200px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  cursor: pointer;
}

.selected-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.selected-option:hover {
  background-color: #f5f5f5;
}

.selected-option span {
  color: #495057;
}

.selected-option i {
  margin-left: 0.5rem;
  color: #495057;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-top: none;
  border-radius: 0 0 4px 4px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
}

.options.open {
  display: block;
}

.options li {
  padding: 0.5rem;
}

.options li:hover {
  background-color: #b6f0ff60;
  cursor: pointer;
}

